<a href="https://colab.research.google.com/github/saishree2004/Machine-learning/blob/main/ML1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("Hello, World!")

Hello, World!

In [3]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [4]:
x = 5
print(type(x))

<class 'int'>

In [6]:
x = int(1)
y = int(2.8)
z = int("3")
print(x,y,z)

1 2 3

In [9]:
#list
thislist = ["apple", "banana", "cherry"]
print(thislist)

#accessing list item
print(thislist[1])

#change list item
thislist[1] = "blackcurrant"
print(thislist)

#add list item
thislist.append("orange")
print(thislist)

#remove list item
thislist.remove("apple")
print(thislist)

['apple', 'banana', 'cherry']
banana
['apple', 'blackcurrant', 'cherry']
['apple', 'blackcurrant', 'cherry', 'orange']
['blackcurrant', 'cherry', 'orange']

In [12]:
#tuples
thistuple = ("apple", "banana", "cherry")
print(thistuple)

#access tuples
print(thistuple[1])

('apple', 'banana', 'cherry')
banana

In [19]:
#dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

#changing dictionary
thisdict["year"] = 2018
print(thisdict)

#adding items
thisdict["color"] = "red"
print(thisdict)

#removing items
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2018, 'color': 'red'}
{'brand': 'Ford', 'year': 2018, 'color': 'red'}

In [20]:
#if...else
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [21]:
#match
day = 4
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")

Thursday

In [22]:
#while statement
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [23]:
#for loops
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [24]:
#functions
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [25]:
#lambda function
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [26]:
#iterators
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [27]:
#try...except
try:
  print(x)
except NameError:
  print("Variable x is not defined")
except:
  print("Something else went wrong")

<function <lambda> at 0x7fd4955a44a0>